body h1 {
	color: #00FFFF;
	font-family: "けいふぉんと";
}
body p img {
	border-width: 6px;
	border-color: #00FF0F;
}
body {
}
.key {
	color: #FF0004;
	background-color: #00FFFF;
}
body {
	background-image: url(kawaii-pastel7-1024x576.jpg);
}
